@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/*-----------------------------------*/

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666666;
}

.footer {
  background-color: #eeeeee;
}

.header, .footer {
  padding: 0 10px;
}

.buttons button {
  padding: 8px 12px;
  border-radius: 5px;
}

body, .header, .footer {
  justify-content: space-between;
}

body, .header, .content, .footer, .left-links, .right-links {
  display: flex;
}

body, .content {
  flex-direction: column;
}

.left-links, .right-links {
  gap: 15px;
}

.content {
  align-items: center;
  gap: 15px;
}